[submodule "enigmeSpring"]
	path = enigmeSpring
	url = https://github.com/Tartef/enigmeSpring.git
[submodule "SymfonyEnigme"]
	path = SymfonyEnigme
	url = https://github.com/BoiteEnCarton/SymfonyEnigme.git
[submodule "Enigme_Rails"]
	path = Enigme_Rails
	url = https://github.com/Xenoiste/Enigme_Rails.git
[submodule "enigme_django"]
	path = enigme_django
	url = https://github.com/Ouidkling/enigme_django.git
